*{
    background-color: aqua;
    padding:0px;
    margin:0px;
}

.contenedor{
    width: 800px;
    height:300px;
    border:1px solid black;
    margin:0 auto;
    position: relative;
    overflow: hidden;
}

.tarjeta1,
.tarjeta2,
.tarjeta3,
.tarjeta4{
    width:200px;
    height:300px;
    position: absolute;
    top:-300px;
    background-size: cover;
}

.tarjeta1{
    background-image: url(../imgtar/costa.jpg);
    left:0px;
    animation: tarjeta1 3s 1 forwards;
}

.tarjeta2{
    background-image: url(../imgtar/mar.jpg);
    left:200px;
    animation: tarjeta1 3s 1 forwards 3s;
}

.tarjeta3{
    background-image: url(../imgtar/selva.jpg);
    left:400px;
    animation: tarjeta1 3s 1 forwards 6s;
}

.tarjeta4{
    background-image: url(../imgtar/sierra.jpg);
    left:600px;
    animation: tarjeta1 3s 1 forwards 8s;
}

@keyframes tarjeta1{
    0%{
        top:-300px;
        transform: rotateY(180deg);
    }
    50%{
        top:300px;
    }
    100%{
        top:0px;
    }
}

.tarjeta1:hover{
    transition:1s;
    scale:1.2;
    z-index:1;
}

.volver{
    display: inline-block;
    margin: 10px;
    padding: 8px 14px;
    background: black;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-family: Arial;
}

.volver:hover{
    background: gray;
}
